submission.csv
kaggle.json
voting_regressor_model_with_og_ds.joblib
voting_regressor_model_with_og_ds.pkl
xgb_model_fold_exp1.joblib
xgb_model_fold_exp1.pkl
kaggle.json:Zone.Identifier
kernel-metadata.json
lgbm_model_fold.joblib
lgbm_model_fold.pkl
models/
playground-series-s4e9.zip
playground-series-s4e9.zip:Zone.Identifier
used_cars.csv:Zone.Identifier